<a href="https://colab.research.google.com/github/MoeeinAali/CEIntro-1402/blob/main/Basic_commands.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
"Hello World!"
1+2

[1] "Hello World!"

[1] 3

In [7]:
5
10
15

[1] 5

[1] 10

[1] 15

In [9]:
5 + 5

[1] 10

In [11]:
for(i in 1:10){
  print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [12]:
# a comment
print("Moeein")

[1] "Moeein"

In [15]:
name <- "Moeein"
age <- 20

name
age

[1] "Moeein"

[1] 20

In [19]:
familyName <- "Aali"
fullName <- paste(name,familyName)
print(fullName)

[1] "Moeein Aali"

In [20]:
num <- 5
text <- "Some text"

num + text

ERROR: Error in num + text: non-numeric argument to binary operator

In [25]:
var1 <- var2 <- var3 <- "Moeein"
var1
var2
var3

[1] "Moeein"

[1] "Moeein"

[1] "Moeein"

In [38]:
# numeric
x <- 10.5
class(x)

# integer
x <- 1000L
class(x)

# complex
x <- 9i + 3
class(x)

# character(string)
x <- "R is exciting"
class(x)

# logical(boolean)
x <- TRUE
class(x)

[1] "numeric"

[1] "integer"

[1] "complex"

[1] "character"

[1] "logical"

In [36]:
x <- 10.5
y <- 55

x
y
class(x)
class(y)

[1] 10.5

[1] 55

[1] "numeric"

[1] "numeric"

In [39]:
# Casting
a <- 123L
class(a)
a <- as.numeric(a)
class(a)

[1] "integer"

[1] "numeric"

In [40]:
a <- as.complex(a)
class(a)
a

[1] "complex"

[1] 123+0i

In [47]:
# Math Functions
max(1,2,3,4)

[1] 4

In [48]:
# Math Functions
sqrt(4)

[1] 2

In [49]:
# Math Functions
abs(-5)

[1] 5

In [50]:
# Math Functions
ceiling(0.5)
floor(0.5)

[1] 1

[1] 0

In [59]:
str <- "Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."

print(str)
cat("**************\n")
cat(str)

[1] "Lorem ipsum dolor sit amet,\nconsectetur adipiscing elit,\nsed do eiusmod tempor incididunt\nut labore et dolore magna aliqua."
**************
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [60]:
str <- "moeein"
nchar(str)

[1] 6

In [63]:
# grepl(subSTR,STR)

grepl("mo",str)

[1] TRUE

In [66]:
str1 <- "Hello"
str2 <- "World"

str3 <- paste(str1, str2)
str3

[1] "Hello World"

In [72]:
str <- "We are the so-called \"Vikings\", from the north."

str
cat(paste(str,"\n"))
# auto-printing the str variable will print the backslash in the output. You can use the cat() function to print it without backslash.

[1] "We are the so-called \"Vikings\", from the north."

We are the so-called "Vikings", from the north.

In [73]:
a <- 10
b <- 10
c <- 11

a == c
a == b

[1] FALSE

[1] TRUE

In [77]:
if(a > c){
  print("a is greater than c")
}else{
  print("c is greater than a")
}

[1] "c is greater than a"

In [82]:
# Integer Division
10 %/% 3

[1] 3

In [83]:
as.integer(10 / 3)

[1] 3

In [84]:
as.integer(10 / 3) == 10 %/% 3

[1] TRUE

In [85]:
10 %% 3

[1] 1

In [91]:
my_var <- 1

my_var <<- 2

4 -> my_var

5 ->> my_var

my_var

[1] 5

In [93]:
1 | 2
1 || 2

[1] TRUE

[1] TRUE

In [98]:
x <- 1:10
x

 [1]  1  2  3  4  5  6  7  8  9 10

In [102]:
# seq(from,to,by)
x <- seq(from = 1, to = 10, by = 3)
x

[1]  1  4  7 10

In [108]:
i <- 0
while (i < 6) {
  i <- i + 1
  if (i == 3) {
    # continue
    next
  }
  print(i)
}

[1] 1
[1] 2
[1] 4
[1] 5
[1] 6

In [110]:
for (x in seq(from = 1, to = 10, by = 3)) {
  print(x)
}

[1] 1
[1] 4
[1] 7
[1] 10

In [111]:
fruits <- list("apple", "banana", "cherry")

for (x in fruits) {
  print(x)
}

[1] "apple"
[1] "banana"
[1] "cherry"

In [116]:
dice <- 1:6

for(x in dice) {
  if (x == 6) {
    print(paste("The dice number is", x, "Yahtzee!"))
  } else {
    print(paste("The dice number is", x, "Not Yahtzee"))
  }
}

[1] "The dice number is 1 Not Yahtzee"
[1] "The dice number is 2 Not Yahtzee"
[1] "The dice number is 3 Not Yahtzee"
[1] "The dice number is 4 Not Yahtzee"
[1] "The dice number is 5 Not Yahtzee"
[1] "The dice number is 6 Yahtzee!"

In [117]:
adj <- list("red", "big", "tasty")

fruits <- list("apple", "banana", "cherry")
  for (x in adj) {
    for (y in fruits) {
      print(paste(x, y))
  }
}

[1] "red apple"
[1] "red banana"
[1] "red cherry"
[1] "big apple"
[1] "big banana"
[1] "big cherry"
[1] "tasty apple"
[1] "tasty banana"
[1] "tasty cherry"

In [118]:
# Define Function
my_function <- function() { # create a function with the name my_function
  print("Hello World!")
}

In [119]:
my_function()

[1] "Hello World!"

In [120]:
my_function <- function(name) {
  paste(name, "aali")
}

my_function("moeein")
my_function("mohammad")

[1] "moeein aali"

[1] "mohammad aali"

In [122]:
my_function <- function(a, b) {
  paste(a, b)
}

fullName <- my_function("moeein", "aali")
fullName

[1] "moeein aali"

In [127]:
# Default Parameter Value
my_function <- function(country = "Iran") {
  paste("I am from", country)
}

my_function("Sweden")
my_function("India")
# will get the default value, which is Norway
my_function()
my_function("USA")

[1] "I am from Sweden"

[1] "I am from India"

[1] "I am from Iran"

[1] "I am from USA"

In [130]:
Nested_function <- function(x, y) {
  a <- x + y
  return(a)
}

print(Nested_function(Nested_function(2,2), Nested_function(3,3)))

[1] 10

In [131]:
txt <- "good"
my_function <- function() {
  paste("R is", txt)
}

my_function()

[1] "R is good"

In [134]:
# global assignment

my_function <- function() {
txt <<- "Aali"
  paste("Moeein", txt)
}

my_function()

print(txt)

[1] "Moeein Aali"

[1] "Aali"

In [140]:
# R does't Call By Refrence
my_function <- function(a) {
  a <- a + 1
}
a <- 2
a
my_function(a)
a

[1] 2

[1] 2

## tilte
---